/* Apply styles to the body and heading */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}


/* Style the file input and upload button */

#fileInput {
    display: none;
    /* Hide the file input */
}

#uploadBtn {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#uploadBtn:hover {
    background-color: #0056b3;
}